*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    background: white;
    margin: 15px;
    
}
.container{
    display: inline;
}
.header_text{
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: dimgray;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.constr_text{
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    display: none;
    padding: 25px;
    position: relative;
    top: 10px;
    color: dimgray;
}
.ag_logo{
    width: 70px;
    margin: 30px;;
}
 .button_section1{
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    border: none;
    background: no-repeat;
}
.button_section1 img{
    border: solid 4px rgb(192, 184, 184);
    border-radius: 20px;
    /* box-shadow: 5px 5px rgb(236, 231, 231); */
}
.button_section1 img:hover{
    border: solid 4px rgb(192, 184, 184);
    border-radius: 20px;
    box-shadow: 6px 6px rgb(222, 216, 216);
    transition: all 0.2s;
}
 .button_section2{
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    border: none;
    background: no-repeat;
}
.button_section2 img{
    border: solid 4px rgb(192, 184, 184);
    border-radius: 20px;
    /* box-shadow: 5px 5px rgb(236, 231, 231); */
    margin-top: 4px;
}
.button_section2 img:hover{
    border: solid 4px rgb(192, 184, 184);
    border-radius: 20px;
    box-shadow: 6px 6px rgb(222, 216, 216);
    margin-top: 4px;        
    transition: all 0.2s;
}
.form{
    display: none;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    /* height: 400px;
    width: 410px; */
}
.button_cstr_type{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 100px;
    border: solid 3px rgb(184, 170, 170);
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button_cstr_type:hover{
    background: rgb(212, 206, 206);
    transition: all 0.4s;
    font-size: x-large;
}
.back_button{
    position: absolute;
    top: 64px;
    right: 60px;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: solid 2px rgb(135, 122, 122);
}
.constr_types_ladel{
    width: 333px;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 4px rgb(197, 190, 190);
    border-radius: 20px;
    background: no-repeat;
    box-shadow: 5px 5px gainsboro;
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 15px;
    font-size: 17px;
    color: dimgray;
}
.constr_list{
    position: relative;
    height: 60px;
    width: 333px;
    margin: 2px;
    border: solid 2px gray;
    border-radius: 10px;
    left: auto;
    right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 25px;
    font-size: initial;
    color: dimgray;
}
.constr_list:hover{
    top: 24px;
    font-size: 17px;
    transition: all 0.7s;
    background: rgb(212, 206, 206);
}
.constr_choose{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23.5px;
    text-align: center;
    text-transform: uppercase;
    display: none;
    position: relative;
    top: 20px;
    color: dimgray;
    justify-content: center;
}
.form_constr_list_btn{                                
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}
/*-------------------------------------*/
.input_size{
    display: flex;
    position: relative;
    justify-content: center;
    top: 35px;
    flex-wrap: wrap
}
.size{
    width:  330px;
    height: 50px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: revert;
    font-size: 15px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.checked_step{
    display: flex;
    justify-content: center;
    position: relative;
    top: 40px;
    height: 50px;
}
 .checked_step label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    color: dimgray ;
}
.double_area{
    display: flex;
    height: 50px;
    top: 20px;
    position: relative;
    justify-content: center;
}
.double_area label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgray ;
}
/*-----------------------------------------*/
@media all and (min-width:660px){
    .form {
        display: none;
        position: inherit;
        margin-left: auto;
        margin-right: auto;
        /* height: 400px; */
        width: 420px;
    }
    .button_cstr_type {
        display: inline;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
        border: solid 3px rgb(184, 170, 170);
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .constr_list {
        position: relative;
        height: 200px;
        width: 200px;
        margin: 2px;
        border: solid 2px gray;
        border-radius: 10px;
        left: auto;
        right: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        top: 25px;
        font-size: initial;
        color: dimgray;
    }
    .button_section1 {
        top: 10px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        position: relative;
        border: none;
        background: no-repeat;
    }
    .button_section2 {
        top: 159px;
        margin-left: 340px;
        margin-right: auto;
        display: block;
        position: absolute;
        border: none;
        background: no-repeat
    }
    .constr_types_ladel {
        width: 270px;
        height: 132px;
        position: absolute;
        margin-left: 340px;
        margin-right: auto;
        display: block;
        border: solid 4px rgb(197, 190, 190);
        border-radius: 20px;
        background: no-repeat;
        box-shadow: 5px 5px gainsboro;
        display: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        top: 141px;
        font-size: 20px;
        color: dimgray;
    }
    .form_constr_list_btn {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: inherit;
        position: absolute;
    }
    .constr_choose {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 23.5px;
        text-transform: uppercase;
        display: none;
        position: relative;
        top: 20px;
        color: dimgray;
        justify-content: inherit;
    }
    .header_text {
        margin-left: auto;
        margin-right: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: dimgray;
        text-align: inherit;
        text-transform: uppercase;
        display: block;
    }
    .form {
        display: none;
        position: sticky;
        margin-left: 0;
        margin-right: auto;
        /* height: 400px; */
        width: 820px;
    }
    .input_size{
        display: grid;
        position: relative;
        margin-left: initial;
        margin-right: auto;
        justify-content: left; 
        top: 25px;
    }
    .checked_step{
        display: flex;
        justify-content: left;
        position: relative;
        top: 40px;
        height: 50px;
    }
    .double_area{
        display: flex;
        height: 50px;
        top: 20px;
        position: relative;
        justify-content: left;
        left: 7px;
    }
}
@media all and (min-width:740px){
    .button_section1 {
        top: 10px;
        margin-left: 0;
        margin-right: auto;
        display: block;
        position: relative;
        border: none;
        background: no-repeat;
    }     
    .form {
        display: none;
        position: sticky;
        margin-left: 0;
        margin-right: auto;
        /* height: 400px; */
        width: 820px;
    }
    .constr_text {
        margin-left: 184px;
        margin-right: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        text-align: inherit;
        text-transform: uppercase;
        display: none;
        padding: 25px;
        position: relative;
        top: 10px;
    }
}